* {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

body {
    user-select: none;
    background: var(--blueDarker);
}

.centered {
    margin: 0 auto;
}

.hidden {
    display: none;
}

.game {
    position: relative;
    width: 114vh; 
    height: 85vh;
    background: transparent;
}

.gameName { /*Game name: Starfall*/
    width: 100%;
    height: 11vh;
    font-size: 5vh;
    text-align: center;
    line-height: 12vh;
    color: var(--glowBright);
    text-shadow: .05vh .05vh 1vh var(--glowMid);
}

.outerBox { /*Border around game window, with level progress golden light is revealed*/
    width: 114vh;
    height: 74vh; 

    margin: 0 0 0 0;
    position: absolute;
    padding: 1vh;

    align-items: center;
    justify-content: center;

    background: var(--glowBase);
    box-shadow: 
                0 0 .7vh .1vh inset var(--glowMax),
                0 0 .7vh .1vh var(--glowMax),

                0 0 1vh .4vh inset var(--glowBright),
                0 0 1vh 1vh var(--glowBright),

                0 0 1vh .7vh inset var(--glowMid),
                0 0 1.5vh 1.6vh var(--glowMid)      
}

.innerBox { /*Inner border, same size as screen, used for shadows*/
    width: 110vh;
    height: 70vh; 

    margin: 2vh 0 0 2vh;
    position: absolute;
    padding: 1vh;

    background: black;

    box-shadow: 0 0 .5vh .3vh var(--glowDark)
}

.screen { /*Game*/
    width: 110vh;
    height: 70vh; 

    margin: 2vh 0 0 2vh;
    position: absolute;

    background: var(--blueDark);
    box-shadow: 0 0 3vh .3vh inset var(--blueDarker),
                0 0 1vh .1vh var(--blueDarker);
}

.progressBox {
    width: 200vh;
    height: 100vh; 

    margin: -110vh 0vh 0 -70vh; /*Adjust top  margin value to display/hide gold progress bar; Values: bar fully visible at -110vh, fully hidden at -24vh */
    position: absolute;
    padding: 1vh;

    background: var(--blueDarker);
    box-shadow: 0 0 .5vh .5vh var(--blueDarker);
}

.menu {
    width: fit-content;
    height: fit-content;
    max-height: 60vh;

    position: absolute;
    text-align: center;

    background: transparent;
    overflow-y: hidden;
}

.menu > ul {
    padding-inline-start: 2vh;
    padding-inline-end: 2vh;
    padding-top: 1vh;
    padding-bottom: 1vh;

    font-size: 5vh;
    font-weight: lighter;
    font-family: 'Times New Roman', Times, serif;
    white-space: nowrap;
    color: white;
    text-shadow: .05vh .05vh .6vh var(--azure);
    
    margin: 25vh 38vh;

    /*border: .3vh solid var(--glowMax);*/
    box-shadow: 0 0 1vh .2vh var(--azure),
                0 0 .5vh .1vh inset white;
}

.menu > ul.active {
    border-color: var(--azure);
    border-radius: 1vh;
}

