.sideHeadings > * {
    position: absolute;
    cursor: pointer;
    color: transparent;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: lighter;
    width: 100%;
    font-size: 3vh;
    color: var(--glowMid);
    text-shadow: 0.1vh 0.1vh 1vh var(--glowBright);
}

.ctrl {
    margin-left: -80vh ;
    margin-top: 15vh;
}

.desc {
    left: 11vh;
    margin-left: 70vh ;
    margin-top: 15vh;
}

.gameName { /*Game name: Starfall*/
    width: 100%;
    height: 11vh;
    font-size: 5vh;
    text-align: center;
    line-height: 12vh;
    color: var(--glowBright);
    text-shadow: .05vh .05vh 1.5vh var(--glowBright);
}
