:root {
    /* Border */
    --glowDark: #533c0a;
    --glowBase: #906813;
    --glowMid: #bb8d2a;
    --glowBright: #fac95e;
    --glowMax: #ece1c8;

    /* Menu */
    --azure: #7fbbd3;

    /* Screen */
    /* DarkBlueHorizon */
    --blueDarkest: #040120;
    --blueDarker: #06012a;
    --blueDark: #1d1847;
    --blueMidDark: #241c6a;

    /* RisingSunHorizon, only here to preview colors for horizon change in js */
    --sun: #281996;
    --sun: #3723d3;
    --sun: #6450ff;
    --sun: #8071f0;

    --sun: #b55ce6;
    --sun: #e65cd4;
    --sun: #e44273;
    --sun: #dc603b;

    --sun: #e68f48;
    --sun: #dda63e;
    --sun: #f7d200;
}