:root {
    /*Border*/
    --glowDark: #533c0a;
    --glowBase: #906813;
    --glowMid: #bb8d2a;
    --glowBright: #fac95e;
    --glowMax: #ece1c8;


    /*Screen*/
    --blueDarkest: #040120;
    --blueDarker: #06012a;
    --blueDark: #1d1847;
    --blueMidDark: #241c6a;
    --blueMid: #4012a2;
    --blueBright: #a3a3ff;

    /*Horizon*/
    --brightOrange: #ec966c;
    --orange: #f2671f;
    
    --red: #c91b26;
    --redGlow: #ce4750;
    --lightShadowRed: #5e0b10;
    --shadowRed: #4e080d;
    
    --violet: #560c86;
    
    --azure: #7fbbd3;
}